<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://www.zhuang2018.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>59.110.152.236</MSDeployServiceURL>
    <DeployIisAppPath>sczm</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookServiceContext" Order="1" Enabled="True">
          <Destination Path="Data Source=59.110.152.236;Initial Catalog=SCZM;Integrated Security=False;Persist Security Info=False;User ID=sczm;Password=Zhx15763038376" Name="Data Source=59.110.152.236; Initial Catalog=SCZM; Persist Security Info=False; Integrated Security=False; MultipleActiveResultSets=True; User ID=sczm; Password=Zhx15763038376" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BookService.Models.BookServiceContext, BookService" MigrationConfiguration="BookService.Migrations.Configuration, BookService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BookServiceContext-Web.config Connection String">
      <ParameterValue>Data Source=59.110.152.236; Initial Catalog=SCZM; Persist Security Info=False; Integrated Security=False; MultipleActiveResultSets=True; User ID=sczm; Password=Zhx15763038376</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>